<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.walkersguide.android" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/backup_rules"
        android:fullBackupContent="@xml/backup_rules_legacy"
        android:supportsRtl="false"
        android:networkSecurityConfig="@xml/public_transport_enabler_network_security_config"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".util.GlobalInstance" >

        <activity
            android:name=".ui.activity.toolbar.tabs.MainActivity"
            android:label="@string/app_name"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.toolbar.tabs.PointDetailsActivity"
            android:label="@string/pointDetailsActivityTitle"
            android:parentActivityName=".ui.activity.toolbar.tabs.MainActivity" />

        <activity
            android:name=".ui.activity.toolbar.tabs.SegmentDetailsActivity"
            android:label="@string/segmentDetailsActivityTitle"
            android:parentActivityName=".ui.activity.toolbar.tabs.MainActivity" />

        <activity
            android:name=".ui.activity.toolbar.FragmentContainerActivity"
            android:parentActivityName=".ui.activity.toolbar.tabs.MainActivity" />

        <!--
        <service
            android:name=".util.LocationService" />
        -->
    </application>

</manifest>
